body {
    background-color: rgb(169, 180, 176);
}
h1{
    color:#fff;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    
}*/

div{
    /* width: 300px;*/
background-color: cornflowerblue;
padding: 20px;
text-align: center;
}

span{
    background-color: chocolate;
    /* padding: 20hx; */
    text-align: center;
}
.green-color{
    color:green;
    font-size: 30px;
}

